.header {
  display: flex;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
}

.insta-logo {
  align-self: center;
}

.insta-camera {
  align-self: center;
  margin-left: auto;
  margin-right: 30px;
}

.insta-camera img {
  width: 50px;
}
